<div class="row">
    <div class="col-md-8 hidden-xs hidden-ms">
        <img src='__PUBLIC__/image/IMG_0207.JPG' />
    </div>
    <div class="col-md-4">
        <br/>
        <form role="form">
            <div class="form-group">
                <label for="InputEmail">用户名：</label>
                <input type="email" class="form-control" id="InputEmail" placeholder="请输入您的注册邮箱">
            </div>
            <br/>
            <div class="form-group">
                <label for="InputPassword">密码</label>
                <input type="password" class="form-control" id="InputPassword" placeholder="请输入您的登录密码">
            </div>
            <br/>
            <div class="checkbox">
                <label>
                    <input type="checkbox"> 记住密码
                </label>
            </div>
            <br/>
            <button type="submit" class="btn btn-primary btn-lg">登录</button>
        </form>
    </div>
</div>