<div class="row">
    <div class="col-md-6" style="border-right:1px dashed #ccc">
        <form role="form">
            <div class="form-group">
                <label for="InputEmail">邮箱：</label>
                <input type="email" class="form-control" id="InputEmail" placeholder="请输入邮箱名注册">
            </div>
            <br/>
            <div class="form-group">
                <label for="InputPassword">密码</label>
                <input type="password" class="form-control" id="InputPassword" placeholder="请填写密码">
            </div>
            <br/>
            <div class="form-group">
                <label for="InputPassword1">确认密码</label>
                <input type="password" class="form-control" id="InputPassword1" placeholder="请再次输入密码">
            </div>
            <br/>
            <div class="form-group">
                <label for="InputAppId">AppId</label>
                <input type="text" class="form-control" id="InputAppId" placeholder="请填写您公众号的AppID">
            </div>
            <br/>
            <div class="form-group">
                <label for="InputToken">Token</label>
                <input type="text" class="form-control" id="InputToken" placeholder="请填写您公众号的Token">
            </div>
            <br/>
            <div class="form-group">
                <label for="InputAppSecret">AppSecret</label>
                <input type="text" class="form-control" id="InputAppSecret" placeholder="请填写您公众号的AppSecret">
            </div>
            <br/>
            <div class="checkbox">
                <label>
                    <input type="checkbox" id="agree"> 我同意并遵守<a href="##">服务协议</a>
                </label>
            </div>
            <br/>
            <button type="submit" id="signin" class="btn btn-primary btn-lg">注册</button>
        </form>
    </div>
    <div class="col-md-6" id="signinfo">
        <h3 class="text-justify">要使用本微信公众号管理平台，须填写正确的AppId, Token和AppSecret。如不确定请登陆<a   href="https://mp.weixin.qq.com" target="_blank">微信公众平台</a>，登陆后打开开发者中心即可查到。</h3>
    </div>
</div>